*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.card{
    width:22rem;
    height:25rem; 
    box-shadow:10px 10px 5px grey ;
}
.card-img-top{
    width: 150px;
    height: 150px;
}
.d-block{
    width: 150px;
    height: 151px;
}



  
  